extends _tpl/home_layout
block head
block content
  section#main-content
    section.wrapper
      div.framecut-uploader
        h1 上传ZIP序列包
        .uploading-mask
          .t uploading...
        .drop-wrap
          form#mydropzone.dropzone(action='/framecut/zipupload')
            #dropuploader.fallback
              input(name='file', type='file', multiple='')
            input#dropdirname(type='hidden', name='dirname', value='xxxxxx')
block footer
  script(src='/js/framecut.js')